<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
       <div class="sep sep-2" ></div> 
       <pre class="privacy nocolor und">GG Home &copy; 2013 </pre>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
